dist
node_modules
.dockerignore
Dockerfile
.env
.env.*
.eslintrc.js
.eslintrc-staged.js
.git
.gitignore
.husky
.prettierrc
coverage*
README.md
AGENTS.md
*.spec.ts
*.mock.ts
__mock__
__test__
/uploads
/docker
*.sqlite